.chat-input {
  width: 90%;
  max-width: 35rem;

  padding: 0 1rem;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
    display: flex;
    color: $main-text-color;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__textarea {
    width: 100%;
    background-color: $textarea-bg-color;
    color: $main-text-color;
    border-radius: 1rem;
    padding: 0.75rem 5rem;
    outline: none;
    resize: none;
    line-height: 1.5;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__send {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-radius: 50%;
    border: none;
    background-color: #676767;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: $textarea-bg-color;
    }
  }
}
