.mainContainer {
  margin: 25rem auto 0 auto;
  width: 20rem;
  text-align: center;
  &__title {
    color: $main-text-color;
    font-size: 1.7rem;
    letter-spacing: 1px;
    line-height: 2.25rem;
    font-family: sans-serif;
  }
}

.answerContainer {
  margin: -10rem auto 0;
  width: 100%;
  text-align: center;

  &__answerHolder {
    width: 90%;
    margin: 1rem auto; // Spacing between messages

    border-radius: 1rem;
    color: $main-text-color;
    text-align: left;

    &__text {
      font-size: 1.4rem;
      padding: 1rem;
    }

    &.user-message {
      background-color: $user-bg-color;
    }

    &.assistant-message {
      background-color: $assistant-bg-color;
    }

    &.assistant-message:last-of-type {
      margin-bottom: 8rem;
    }
  }
}
