$main-text-color: #ffffff;

$main-header-color: #b4b4b4;

$main-background-color: #212121;
$header-background-color: #121212;
$textarea-bg-color: #2f2f2f;
$icon-color: #8e8ea0;
$placeholder-color: #8e8ea0;

$user-bg-color: #5683a5;
$assistant-bg-color: #515151;

body {
  background-color: $main-background-color;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
